@media screen and (max-width:600px) {


body{
  width: 100vw;
  height: 100vh;
  margin:  0 0 0 0;
}
.img{
  background-image: url("MYPHOTO.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 50%;
  height: 70%;
  width:50%;
  position: absolute;
  left:25%;
  right: 25%;
}
}
